# ==============================
# Android Studio / IntelliJ
# ==============================
.idea/
*.iml

# ==============================
# Gradle
# ==============================
.gradle/
**/build/

# ==============================
# Configurações locais
# ==============================
local.properties

# ==============================
# Android Native
# ==============================
.externalNativeBuild/
.cxx/

# ==============================
# Capturas
# ==============================
captures/

# ==============================
# Sistema operacional
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Assinatura / credenciais
# ==============================
*.jks
*.keystore
keystore.properties
signing.properties

# ==============================
# Variáveis / segredos
# ==============================
.env
.env.*

# ==============================
# Firebase
# ==============================
app/google-services.json